<div>
	<h4 class="text-center">
	{{type | uppercase}} SCAN
	</h4>
	<div ngf-drop="uploadScans($files)" ngf-select="uploadScans($files)" ngf-multiple="true" ng-model="files" class="drop-box">
		<scan>Upload files Here</scan>
		<scan class="fa fa-circle-o-notch fa-spin fa-4x {{loading}}"></scan>
		<h3 ng-if="upload_completed">
		{{upload_completed}}
		</h3>
	</div>
	<div class="text-center">
		<a ng-href="#/patient/{{user_id}}">
			<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-left">Cancel</span></button>
		</a>
		<a ng-href="#/patient/{{user_id}}">
			<button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-ok">Done</span></button>
		</a>
	</div>
</div>